main {
	background: #fff;
	border: 1px solid #000;
	border-top-right-radius: 1rem;
	border-bottom-left-radius: 1rem;
	height: auto;
	margin: 2rem;
	min-height: 150px;
	padding: 2rem;
	position: relative;
	
	&:before {
		background: url("../images/bar.png") no-repeat;
		content: " ";
		display: inline-block;
		height: 100px;
		left: -20px;
		position: absolute;
		top: -20px;
		width: 100px;
	}
	
	&:after {
		background: url("../images/bar.png") no-repeat;
		bottom: -20px;
		content: " ";
		display: inline-block;
		height: 100px;
		right: -20px;
		position: absolute;
		width: 100px;
		transform: rotate(180deg);
	}
	
	& > * + * {
		margin-top: 2rem;
	}
	
	h2       { font-size: 1.66rem; margin: 0; }
	h3       { font-size: 1.33rem; }
	h4,h5,h6 { font-size: 1rem;    }
	
	h5,h6 { font-weight: normal;        }
	h4,h5 { text-transform: uppercase;  }
	h6    { text-decoration: underline; }
	
	.sheets {
		@extend .clearfix;
		
		div {
			@extend .w33;
			@extend .fleft;
			
			& + div {
				padding-left: 1rem;	
			}
		
			&:nth-of-type(3n+1) {
				clear: left;
				padding-left: 0;
			}
			
			h3 {
				border-bottom: 1px solid #000;
				margin-bottom: 2px;
			}
			
		}

		ul {
			@extend .no-list;
		
			&.columns {
				column-count: 4;
				column-gap: 2rem;
			}
		}
	}
}