form.searchbar {
	fieldset {
		background-color: #F0FFFF;
		border-color: #1A609E;
		
		label {
			display: inline-block;
			
			&:not(.checkbox) {
				margin-right: 1rem;
			}
		}
		
		ol, li {
			margin-bottom: 0;
		}
		
		ol + ol {
			margin-top: .5rem;
		}
		
		li {
			display: inline;
			width: auto;
			
			& + li {
				margin-left: 1rem;
			}
		}
		
		ol:first-child li:last-child {
			float: right;
			margin: 0;
			position: relative;
			top: -1px;
		}
	}
}
		