.password-strength {
    @extend .no-list;

    &, li {
        display: inline;
        margin-right: .5rem;
    }

    .fa-close,
    &.warning {
        color: #990000;
    }

    .fa-check,
    &.success {
        color: #009900;
    }
}
